AGENT_NODE_ID=local-node
AGENT_COLLECTOR_BACKEND=docker
DOCKER_HOST=unix:///var/run/docker.sock
KAFKA_BROKERS=localhost:9092
KAFKA_METRICS_TOPIC=container.metrics
KAFKA_EVENTS_TOPIC=container.events
COLLECT_INTERVAL=10s
